<html> 
  <head>
    <style>
      .text-body-secondary{
    background: linear-gradient(300deg,
                #03d1f6,
                #b0e6f3,
                #f9e776);
        background-size: 180% 180%;
        animation: gradient-animation 18s ease infinite;
        border-radius: 2rem;
        opacity: 0.7;
}
    </style>
  </head>
  <body>
<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/" class="nav-link  text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="/radha" class="nav-link  text-body-secondary">Radha</a></li>
      <li class="nav-item"><a href="/krishna" class="nav-link  text-body-secondary">Krishna</a></li>
      <li class="nav-item"><a href="/bhajans" class="nav-link text-body-secondary">Bhajans</a></li>
    </ul>
    <p class="text-center text-body-secondary"> <a href="https://www.google.com/maps/place/ISKCON+temple+Bangalore/@13.0096643,77.5485595,17z/data=!3m1!4b1!4m6!3m5!1s0x3bae3ded0b360e07:0x7a7fb24a41a6b2b3!8m2!3d13.0096643!4d77.5511344!16s%2Fm%2F0g9x5qd?entry=ttu&g_ep=EgoyMDI0MDkxOC4xIKXMDSoASAFQAw%3D%3D" style="color: rgb(112, 110, 110);"> © International Society for Krishna Consciousness,Rajajinagar,Bengaluru-560010</a></p>
  </footer>
</div>
 </body>
</html>