<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="styles/bwdg.css">
<h2 style="color: darkblue;">Bhagwadgeetha</h2>
<img src="images/shrimad-bhagwat-geeta-updesh.jpg" width="100%" height="100%">
<p style="font-size: 1.25rem;
    font-weight: 300;">
The Bhagavad Gita is a prominent and influential Hindu scripture.While Hinduism is known for its diversity and the synthesis derived from it, the Bhagavad Gita holds a unique pan-Hindu influence. Gerald James Larson – an Indologist and scholar of classical Hindu philosophy, states that "if there is any one text that comes near to embodying the totality of what it is to be a Hindu, it would be the Bhagavad Gita."The Bhagavad Gita is part of the Prasthanatrayi, which also includes the Upanishads and the Brahma sutras. These three form the foundational texts of the Vedanta school of Hindu philosophy.The Brahma sutras constitute the Nyāya prasthāna or the "starting point of reasoning canonical base", while the principal Upanishads constitute the Sruti prasthāna or the "starting point of heard scriptures", and the Bhagavad Gita constitutes the Smriti prasthāna or the "starting point of remembered canonical base". While Upanishads focuses more on knowledge and the identity of the self with Brahman, the Bhagavad Gita shifts the emphasis towards devotion and the worship of a personal deity, specifically Krishna. The Bhagavad Gita forms a central text in the Vaishnava tradition.
</p>
<p style="font-size: 1.25rem;
    font-weight: 300;">
    The Gita is one of the key texts for Vedanta, a school of thought that provides one of the theoretical foundations for Hinduism, and one that has had an enormous influence over time, becoming the central ideology of the Hindu renaissance in the 19th century. Some Hindus give it the status of an Upanishad, and some consider it to be a "revealed text". There are alternate versions of the Bhagavad Gita (such as the one found in Kashmir), but the basic message behind these texts are not distorted.
The Bhagavad Gita draws heavily from the philosophical ideas presented in the Upanishads, incorporating and expanding upon them throughout the text. For example, in the Bhagavad Gita's second chapter, Krishna explains to Arjuna about the eternal nature of the soul, a concept echoed from the Katha Upanishad. It talks about the concept of karma yoga, mentioned in the Isha Upanishad, and ideal times for departing from life, echoing teachings from the Chandogya Upanishad.
</p>
<p style="font-size: 1.25rem;
    font-weight: 300;">
    The Bhagavad Gita is the sealing achievement of the Hindu synthesis, incorporating its various religious traditions.
     The synthesis is at both philosophical and socio-religious levels, states the Gita scholar Keya Maitra. The text refrains from insisting on one right marga (path) to spirituality. It openly synthesizes and inclusively accepts multiple ways of life, harmonizing spiritual pursuits through action (karma), knowledge (jñāna), and devotion (bhakti).According to the Gita translator Radhakrishnan, quoted in a review by Robinson, Krishna's discourse is a "comprehensive synthesis" that inclusively unifies the competing strands of Hindu thought such as "Vedic ritual, Upanishadic wisdom, devotional theism and philosophical insight". Aurobindo described the text as a synthesis of various Yogas. The Indologist Robert Minor, and others,in contrast, state that the Gita is "more clearly defined as a synthesis of Vedanta, Yoga and Samkhya" philosophies of Hinduism.
    The synthesis in Bhagavad Gita addresses the question of what constitutes the virtuous path that is necessary for spiritual liberation or release from the cycles of rebirth (moksha). It discusses whether one should renounce a householder lifestyle for a life as an ascetic, or lead a householder life dedicated to one's duty and profession, or pursue a householder life devoted to a personalized God in the revealed form of Krishna. Thus Gita discusses and synthesizes the three dominant trends in Hinduism: enlightenment-based renunciation, dharma-based householder life, and devotion-based theism. According to Eliot Deutsch and Rohit Dalvi, the Bhagavad Gita attempts "to forge a harmony" between these three paths
</p>
<img src="images/geetopadesha.jpg" style="float: right;">
<p style="font-size: 1.25rem;
    font-weight: 300;">
    The Bhagavad Gita's synthetic answer recommends that one must resist the "either-or" view, and consider a "both-and" view. It states that the dharmic householder can achieve the same goals as the renouncing monk through "inner renunciation" or "motiveless action". One must do the right thing because one has determined that it is right, states Gita, without craving for its fruits, without worrying about the results, loss or gain. Desires, selfishness, and the craving for fruits can distort one from spiritual living.[76] The Gita synthesis goes further, according to its interpreters such as Swami Vivekananda, and the text states that there is Living God in every human being and the devoted service to this Living God in everyone – without craving for personal rewards – is a means to spiritual development and liberation. According to Gavin Flood, the teachings in the Gita differ from other Indian religions that encouraged extreme austerity and self-torture of various forms (karsayanta). The Gita disapproves of these, stating that not only is it against tradition but against Krishna himself, because "Krishna dwells within all beings, in torturing the body the ascetic would be torturing him", states Flood. Even a monk should strive for "inner renunciation" rather than external pretensions.
The Gita synthesizes several paths to spiritual realization based on the premise that people are born with different temperaments and tendencies (guna). Smith notes that the text acknowledges that some individuals are more reflective and intellectual, some are affective and engaged by their emotions, some are action-driven, yet others favor experimentation and exploring what works. It then presents different spiritual paths for each personality type respectively: the path of knowledge (jnana yoga), the path of devotion (bhakti yoga), the path of action (karma yoga), and the path of meditation (raja yoga). The guna premise is a synthesis of the ideas from the Samkhya school of Hinduism. According to Upadhyaya, the Gita states that none of these paths to spiritual realization is "intrinsically superior or inferior", rather they "converge in one and lead to the same goal".
According to Hiltebeitel, Bhakti forms an essential ingredient of this synthesis, and the text incorporates Bhakti into Vedanta. According to Scheepers, The Bhagavad Gita is a Brahmanical text which uses Shramanic and Yogic terminology to spread the Brahmanic idea of living according to one's duty or dharma, in contrast to the ascetic ideal of liberation by avoiding all karma. According to Galvin Flood and Charles Martin, the Gita rejects the Shramanic path of non-action, emphasizing instead "the renunciation of the fruits of action". The Bhagavad Gita, according to Raju, is a great synthesis of impersonal spiritual monism with personal God, of "the yoga of action with the yoga of transcendence of action, and these again with the yogas of devotion and knowledge". According to Catherine Cornille, the Gita presented the main beliefs of Hinduism, stressing upon the importance of detachment, duty, prevalence of gunas, difference between body and immortal soul, and its transmigration.The text assessed the paths of Jñāna, Bhakti, Karma, and Rāja yogas for the purpose of Moksha (spiritual liberation) and asserted that the path of Bhakti (devotion) is the foremost and the easiest of them all.
</p>
  <table border="5" cellpadding="8" cellspacing="3" align="center">
    <tr>
      <th><b>Chapter</b></th>
      <th><b>Name of Chapter</b></th>
      <th><b>Total verse</b></th>
    </tr>
    <tr>
      <td>01</td>
      <td>Arjuna Vishada Yoga</td>
      <td>46</td>
      </tr>
      <tr>
        <td>02</td>
        <td>Sankhya Yoga</td>
        <td>72</td>
      </tr>
      <tr>
        <td>03</td>
        <td>Karma Yoga</td>
        <td>43</td>
      </tr>
      <tr>
        <td>04</td>
        <td>Jnana Yoga</td>
        <td>42</td>
      </tr>
      <tr>
        <td>05</td>
        <td>Karma Sanyasa Yoga</td>
        <td>29</td>
      </tr>
      <tr>
        <td>06</td>
        <td>Atma Samyama Yoga</td>
        <td>47</td>
      </tr>
      <tr>
        <td>07</td>
        <td>Jnana Vignana Yoga</td>
        <td>30</td>
      </tr>
      <tr>
        <td>08</td>
        <td>Akshara Brahma Yoga</td>
        <td>28</td>
      </tr>
      <tr>
        <td>09</td>
        <td>Raja Vidhya Raja Guhya Yoga</td>
        <td>34</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Vibhuti Yoga</td>
        <td>42</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Vishwaroopa Darshana Yoga</td>
        <td>55</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Bhakti Yoga</td>
        <td>20</td>
      </tr>
      <tr>
        <td>13</td>
        <td>Kshetra Kshetrajna Vibhaga Yoga</td>
        <td>35</td>
      </tr>
      <tr>
        <td>14</td>
        <td>Gunatraya Vibhaga Yoga</td>
        <td>27</td>
      </tr>
      <tr>
        <td>15</td>
        <td>Purushottama Yoga</td>
        <td>20</td>
      </tr>
      <tr>
        <td>16</td>
        <td>Daivasura Sampadvibhaga Yoga</td>
        <td>24</td>
        </tr>
        <tr>
          <td>17</td>
          <td>Shraddha Traya Vibhaga Yoga</td>
          <td>28</td>
        </tr>
        <tr>
          <td>18</td>
          <td>Moksha Sanyasa Yoga</td>
          <td>78</td>
        </tr>
  </table>

  <h5>References</h5>
  <a href="pdfs/SHRIMADH BHAGAWATH GEETHA.pdf" target="_blank" style="font-size: 1.25rem;
      font-weight: 300;">Open PDF</a>
  
  <a href="pdfs/SHRIMADH BHAGAWATH GEETHA.pdf" download style="font-size: 1.25rem;
      font-weight: 300;">Download PDF(Kannada Version)</a>
      <p>
        <a href="pdfs/English-Bhagavad-gita-His-Divine-Grace-AC-Bhaktivedanta-Swami-Prabhupada.pdf" target="_blank" style="font-size: 1.25rem;
              font-weight: 300;">Open PDF</a>
        
        <a href="pdfs/English-Bhagavad-gita-His-Divine-Grace-AC-Bhaktivedanta-Swami-Prabhupada.pdf" download style="font-size: 1.25rem;
              font-weight: 300;">Download PDF(English Version)</a>
      </p>



<%- include("partials/footer.ejs") %>