<%- include("partials/header.ejs") %>
<head>
    <style>
        body{
    background: linear-gradient(300deg,
                #03d1f6,
                #b0e6f3,
                #f9e776);
        background-size: 180% 180%;
        animation: gradient-animation 18s ease infinite;
        border-radius: 2rem;
}
    </style>

</head>
<body>
<div class="container"></div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="images/k4.png" width="100%" height="350">
            <div class="card-body">
              <p class="card-text">Jaya Janardhana Krishna Radhika Pathe</p>
              <div class="d-flex justify-content-between align-items-center">
 <audio width="300px" height="300px" controls>
            <source src="audios/jayajanardhana-krishna-baa-baa-krishna-hindu-devotional-songs-kannada-sree-krishna-video-songs-128-ytshorts.savetube.me.mp3">
        </audio>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="images/krushna.jpg" width="100%" height="350">
            <div class="card-body">
              <p class="card-text">Krishna Manamohana</p>
              <div class="d-flex justify-content-between align-items-center">
      <audio width="300px" heigth="300px" controls>
        <source src="audios/krishna-manmohana-full-version-song-full-hd-quality-mahabharat-128-ytshorts.savetube.me.mp3">
      </audio>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
             <img src="images/k1.jpeg" width="100%" height="350">
            <div class="card-body">
              <p class="card-text">Bhaja Govindam</p>
              <div class="d-flex justify-content-between align-items-center">
                <audio width="300px" heigth="300px" controls>
                  <source src="audios/bhaja-govindam-128-ytshorts.savetube.me.mp3">
                  </audio>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="images/k8.jpeg" width="100%" height="350">
            <div class="card-body">
              <p class="card-text">Jagajjala palam</p>
              <div class="d-flex justify-content-between align-items-center">
               <audio width="300px" heigth="300px" controls>
                  <source src="audios/hree-hari-stotram-jagajjala-palam-most-powerful-mantra-of-lord-vishnu-lyrics-krishnabhakthi-128-ytshorts.savetube.me.mp3">
                  </audio>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="images/k3.jpg" width="100%" height="325">
            <div class="card-body">
              <p class="card-text">Adharam Madhuram Duet Full Song|Madhurashtakam|Radha Krishna.</p>
              <div class="d-flex justify-content-between align-items-center">
                <audio width="300px" height="300px" controls>
                  <source src="audios/adharam-madhuram-duet-full-song-kannante-radha-radha-krishna-songes-arathi-devotional-song-128-ytshorts.savetube.me.mp3">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="images/k6.jpg" width="100%" height="350">
            <div class="card-body">
              <p class="card-text">Achyutham Keshavam Krishna Damodaram.</p>
              <div class="d-flex justify-content-between align-items-center">
                <audio width="300px" height="300px" controls>
                  <source src="audios/krishna-bhajan-gokul-nandan-kanha-bhajan-krssnn-krssnn-he-shyaam-shyaam-he-gokul-nndn-yaare-kaanhaa-128-ytshorts.savetube.me.mp3">
                </audio>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="images/RK.jpg" width="100%" height="350">
            <div class="card-body">
              <p class="card-text">Radheya Krishna Bega Baaro nee</p>
              <div class="d-flex justify-content-between align-items-center">
                <audio width="300px" height="300px" controls>
                  <source src="audios/radheya-krishnan-baa-baa-krishna-hindu-devotional-songs-kannada-sree-krishna-video-songs-128-ytshorts.savetube.me.mp3">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="images/hare krishna.jpg" width="100%" height="350">
            <div class="card-body">
              <p class="card-text">Swagatam Krishna Sharanagatam Krishna.</p>
              <div class="d-flex justify-content-between align-items-center">
                <audio width="300px" height="300px" controls>
                  <source src="audios/swagatam-krishna-by-sadwini-koppa-swagathamkrishna-lordkrishna-devotional-128-ytshorts.savetube.me.mp3">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="images/k7.jpg" width="100%" height="350">
            <div class="card-body">
              <p class="card-text">Jagadodhaarana Adisidalu Yashodha.</p>
              <audio width="300px" height="300px" controls>
                  <source src="audios/jagadhodarana-kannada-lyrical-video-sung-by-dr-vidyabhushana-shri-purandara-dasaru-128-ytshorts.savetube.me.mp3">
                </audio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("partials/footer.ejs") %>
    <script src="js/bhajan.js"></script>
</body>
