<%- include("partials/header.ejs") %>
<h1>Goshala</h1>

<link rel="stylesheet" href="styles/goshala.css">
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active"
            aria-current="true"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="images/gomata.png" class="deekshi" width="100%" height="100%" alt="Image description">
        </div>
        <div class="carousel-item">
            <img src="images/goshala.jpg" class="deekshi" width="100%" height="100%" alt="Image description">
        </div>
        <div class="carousel-item active">
            <img src="images/cow.jpg" class="deekshi" width="100%" height="100%" alt="Image description">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1" style="color:rgb(73, 145, 240)"><b>Cow Protection</b></h2>
        <p class="lead"><b>Srila Prabhupada writes:</b> The human society should recognize the importance of the cow and the bull and thus give all
        protection to these important animals.
        </p>

        <h2 class="featurette-heading fw-normal lh-1" style="color:rgb(73, 145, 240)">Protect Cows… Protect our Civilization</h2>
        <p class="lead">In the Vedic tradition, cows are worshipped as mothers. According to the scriptures, there are seven mothers: atma-mata
        (one’s own mother) guroh patni (the wife of one’s teacher) brahmani (the wife of a brahmana) raja-patnika (the wife of
        the king) dhenu (the cow) dhatri (the nurse) and prithvi (the Earth) are all considered mothers. Just as a child feeds
        on the breast milk of the mother, human society takes milk from the cow. The bull is also considered the father of human
        society because just as the father earns to feed the children, the bull tills the earth to produce food grains. So, to
        kill cows means to end the human civilization.
        
        A civilized man is, therefore, expected to give all protection to the bulls and cows. But, today, people are becoming
        more and more uncivilized by neglecting such instructions and they are encouraging cow killing. In Rig Veda (9.46.4) it
        is said:<b><i>gobhih prinita matsaram:</i></b> one who is desirous of killing the cow is in the grossest ignorance. Instead of
        killing the cow and eating its flesh, civilized men must subsist on various milk and agricultural products.
        </p>
    </div>
<div class="col-md-5">
        <img src="images/cow-protection.jpg" width="500" height="500">
    </div>
</div>


<h2 class="featurette-heading fw-normal lh-1" style="color:rgb(73, 145, 240)"><b>Pancha Gavya</b>
</h2>

<p class="lead">In the Srimad Bhagavatam it is said:</p>
<p class="lead"><b><i>gavah panca pavitrani:</i></b>the cows deliver five products and all of them are pure and uncontaminated. The five products
received from the cow are milk, ghee, yogurt, cow dung and urine. These five products, called pancha-gavya, are required
in all ritualistic ceremonies performed according to the Vedic instructions.</p>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <p class="lead">Cow’s milk is considered the most miraculous food which helps in developing the finer tissues of the brain that helps in
        understanding the higher purposes of life. It helps one understand the intricacies of transcendental knowledge. Milk can
        be transformed into yogurt, curd, butter, ghee and by combining the milk and milk products with grains; hundreds of
        palatable dishes can be prepared. The ghee or clarified butter is used not only for preparing delicacies but also for
        the sacrificial performances. A patient who is suffering from a disorder of the bowels due to overindulgence in milk
        products is cured by another milk product, namely curds. Even the urine and stool of cows have medicinal value. Cow dung
        contains all antiseptic properties and is considered a purifying agent. Cow dung can also be dried and used as fuel. The
        cow urine and dung are used even for bathing the deities.
    </p>
    <p class="lead">The cows are an integral part of the temples and their upkeep is one of the prime activities. In India, most of the
    Vaishnava temples have their own Goshala. The unadulterated milk supplied by these cows is used for the worship of the
    Lord.</p>


    </div>
    <div class="col-md-5 order-md-1">
        <img src="images/cows.jpg" width="500" height="500">
    </div>

    <p style="font-size: 1.25rem;
    font-weight: 300;">ISKCON Bangalore started a goshala in the year 1986, with one cow named Vasundhara, and her calf Tamala. Since then,
    over the last 30 years, the herd has increased. Currently there are 25 cows, housed in a facility behind the temple
    complex, which is kept immaculately clean by a team of three trained dairymen. The cows are bathed every day and during
    the summer they are bathed twice. They are allowed to roam around freely in a corral so that they can stretch their
    limbs and get some exercise. The milk from these cows is offered to the Lord not only as it is, but also used in a
    variety of forms to prepare delicious offerings. Many visitors have commented that the cows on Hare Krishna Hill are
    peaceful and content. As the cows age, when they are unable to give milk, they are moved to ISKCON Bangalore’s farm at
    Mahadevapura in Mandya district where they peacefully spend the rest of their lives, grazing on the fresh grass and the
    sweet hay that is readily available there. The young bulls are also moved to the farm. There, these energetic animals
    are trained to plough the fields and carry loads to help in farming activities.
    <p style="font-size: 1.25rem;
    font-weight: 300;"p>
        <i style="color:darkblue">
            <b>rinodakadi samyuktam yah pradadyat gavahnikam<br>
                so asvamedha samam punyam labhate natra samsayah</b>
        </i>
    </p>
    <p style="font-size: 1.25rem;
    font-weight: 300;">In Brihat Parashara Smriti (5.26-27) it is said that one who feeds the cow with grass and water every day derives the
    benefit equivalent to performing Ashwamedha Yajna. Those interested in contributing towards the feeding of cows.
    
    You can also sponsor the maintenance of the cows in the Goshala in Bengaluru as well as the retired cows and bulls at
    the Hare Krishna Farm at Mahadevapura.</p>
</div>

<%- include("partials/footer.ejs")%>