<%- include("partials/header.ejs") %>
<head>
<link rel="stylesheet" href="styles/index.css">
<link rel="shortcut icon" href="images/KRishna.jpg">
<style>
    .btn-secondary{
        background: linear-gradient(300deg,
                #03d1f6,
                #b0e6f3,
                #f9e776);
        background-size: 180% 180%;
        animation: gradient-animation 18s ease infinite;
        border-radius: 2rem;
        opacity: 0.9;
        color: gray;
    }
</style>
</head>
<body>
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active"
            aria-current="true"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="images/RKtemple.jpeg" class="deekshi" width="100%" height="100%" alt="Image description">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Iskcon Temple Banglore</h1>
                    <p class="opacity-75">The temple is dedicated to Hindu deities Radha Krishna and propagates monotheism as mentioned in Chandogya Upanishad.
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="/temple">Click Here</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="images/goshala.jpg" class="deekshi" width="100%" height="100%" alt="Image description">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Iskcon Goshaala</h1>
                    <p>Srila Prabhupada writes: The human society should recognize the importance of the cow and the bull and thus give all protection to these important animals.</p>
                    <p><a class="btn btn-lg btn-primary" href="/goshala">Click Here</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item active">
             <img src="images/Radha-Krishna.jpg" class="deekshi" width="100%" height="100%" alt="Image description">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Radha Krishna</h1>
                    <p>Lord vishnu and Devi lakshmi as Shree Radha Krishna</p>
                    <p><a class="btn btn-lg btn-primary" href="/RK">Click Here</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="row">
    <div class="col-lg-4">
        <div class="col-md-5">
            <img src="/images/srila.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Krishna Image">
</div>
        <h2 class="fw-normal">Srila Prabhupada</h2>
        <p>was a spiritual, philosophical, and religious teacher from India who spread the Hare Krishna mantra and the teachings of
        "Krishna consciousness" to the world.</p>
        <p><a class="btn btn-secondary" href="/srilap">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="col-md-5"><img src="images/geetha.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140"
            alt="Image description">
        </div>
        <h2 class="fw-normal">BhagwathGeetha</h2>
        <p>is a 700-verse Hindu scripture, which is part of the epic Mahabharata.The Bhagavad Gita is dated to the second half of the first millennium BCE.
        </p>
        <p><a class="btn btn-secondary" href="/bhagwadgeetha">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="col-md-5"><img src="images/krishna-consciousness.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Image description">
        </div>
        <h2 class="fw-normal">krishna-consciousness</h2>
        <p>To know about the real path of the divine and to know the path towards the krishna.One of the best book to know about divine path and consciousness of Krishna.</p>
        <p><a class="btn btn-secondary" href="/consciousness">View details »</a></p>
    </div><!-- /.col-lg-4 -->
</div>
<hr>
<div class="row featurette">
       <div class="col-md-5">
    <img src="images/Radha KRishna.jpg" alt="Description of image" class="img-fluid mx-auto">
</div>
<div class="col-md-7">
    <h1>Radha Krishna</h1><br><br>
    <h2 class="featurette-heading fw-normal lh-1">The Eternal and divine Love story of Devi Radha and Shri Krishna.
        <span class="text-body-secondary"></span></h2>
    <p class="lead">
    Even though the love between Radha and Krishna has influenced many followers, the narratives and interpretations might
    vary based on traditions and cultural influences. Being an incarnation of lord Vishnu, Krishna was born as the son of
    Vasudeva and Devaki. But lord Krishna was secretly raised in the village of Gokul by his foster parents, Nanda and
    Yashoda. However, Radha is said to be a cowherd girl in a place called Vrindavan. Since childhood, she has been devoted
    towards lord Krishna. She is known for her selfless love towards lord Krishna.
    
    As Krishna grows older, he realizes his divine personality and charming personality. He used to enchant everyone around
    him by playing the flute magnificently. He is believed to be the magnitude of love. They have grown together and played
    together cheerfully. Even though Krishna's charming personality attracted many girls, Radha’s divine and intense love
    was the key factor that drew Krishna to her. They didn't end up together because Krishna left Vrindavan and Radha to
    accomplish his divine mission. What made this story extraordinary is the devotion of Radha towards Krishna that made her
    wait throughout her life.
    
    The cheerful divine interactions have made the Radha Krishna story more delightful. The love between them is considered
    a significant form of devotion and is remembered through poems, arts, etc., in Hinduism. Their story is presented in
    ‘Bhagvata Purana’, a sacred Hindu text. The divine love of Radha and Krishna is depicted as ‘Ras Leela’.
    </p>
</div>
</div>
<hr>
<div class="row featurette">
    <div class="col-md-7">
        <p class="lead">As mentioned before, lord Krishna was the incarnation or an avatar of lord Vishnu. He was born to fulfil some
        responsibilities on earth. The divine purpose behind his actions is to restore righteousness and guide humanity. His
        relationships and interactions on earth, including Radha are relieved to be a spiritual lesson to convey a profound
        truth. Signifying the different aspects of divinity, it is said that lord Krishna is married to 16,108 wives such as
        Rukmini and Satybhama.
        
        Being a symbolic reflection of divine love and devotion, the story of Radha and Krishna is beyond a conventional marital
        union.

        Even though the Radha Krishna love story is believed and be an inspiration by many people, there is a great debate and
        interpretations over Radha’s marital status. Some narratives depict the marriage of Radha to Ayan, arranged by her
        family.
        
        However, in other interpretations, it is said that lord Krishna allowed Radha to marry Ayan as a divine Leela without
        losing the existing deep spiritual connection with her.
        
        At the same time, some narratives didn't agree with her marriage due to her wholesome devotion and spiritual union with
        lord Krishna.As said before, Radha is known for her unconditional love and devotion towards Lord Krishna. Her thoughts of suppressing
        her willingness and ego for the happiness of Krishna exemplify the significance of sacrifice and selflessness in an
        individual’s relationship and devotion.

        Radha’s faith towards Krishna is unbreakable like a big rock. Her divine trust towards lord Krishna, even when he was
        far away teaches us the role and importance of faith in a relationship while facing enormous challenges.
        </p>
    </div>
    <div class="col-md-5">
        <img src="images/RK.jpg" alt="Description of image" class="img-fluid mx-auto">
    </div>
</div>
</body>
<%- include("partials/footer.ejs") %>