<%- include("partials/header.ejs") %>
<html>
    <head>
        <style>
            body{
    background: linear-gradient(300deg,
                #03d1f6,
                #b0e6f3,
                #f9e776);
        background-size: 180% 180%;
        animation: gradient-animation 18s ease infinite;
        border-radius: 2rem;
}
        </style>
    </head>
    <body>
        <h1 style="color: darkblue;">Shri Krishna</h1>
        <img src="images/Krishna.jpg" width="100%" height="85%">
            <p style="font-size: 1.25rem;
    font-weight: 300;">
                Krishna is a major deity in Hinduism. He is worshipped as the eighth avatar of Vishnu and also as the Supreme God in his own right.[13] He is the god of protection, compassion, tenderness, and love and is widely revered among Hindu divinities.
                 Krishna's birthday is celebrated every year by Hindus on Krishna Janmashtami according to the lunisolar Hindu calendar, which falls in late August or early September of the Gregorian calendar
            </p>
            <p style="font-size: 1.25rem;
    font-weight: 300;">
                Krishna is represented in the Indian traditions in many ways, but with some common features. His iconography
                typically depicts him with black, dark, or blue skin, like Vishnu. However, ancient and medieval reliefs and
                stone-based arts depict him in the natural color of the material out of which he is formed, both in India and in
                southeast Asia. In some texts, his skin is poetically described as the color of Jambul (Jamun, a purple-colored
                fruit)
            </p>
            <p style="font-size: 1.25rem;
    font-weight: 300;">
                Krishna is often depicted wearing a peacock-feather wreath or crown, and playing the bansuri (Indian flute). In
                this form, he is usually shown standing with one leg bent in front of the other in the Tribhanga posture. He is
                sometimes accompanied by cows or a calf, which symbolise the divine herdsman Govinda. Alternatively, he is shown as a
                romantic young boy with the gopis (milkmaids), often making music or playing pranks.
            </p>
            <p style="font-size: 1.25rem;
    font-weight: 300;">
                In other icons, he is a part of battlefield scenes of the epic Mahabharata. He is shown as a charioteer, notably when he
                is addressing the Pandava prince Arjuna, symbolically reflecting the events that led to the Bhagavad Gita – a scripture
                of Hinduism. In these popular depictions, Krishna appears in the front as the charioteer, either as a counsel listening
                to Arjuna or as the driver of the chariot while Arjuna aims his arrows in the battlefield of Kurukshetra.
            </p>
            <h2 style="color: darkblue;">Childhood</h2>
            <p style="font-size: 1.25rem;
    font-weight: 300;">
                Alternate icons of Krishna show him as a baby (Bala Krishna, the child Krishna), a toddler crawling on his hands and
                knees, a dancing child, or an innocent-looking child playfully stealing or consuming butter (Makkan Chor), holding
                Laddu in his hand (Laddu Gopal) or as a cosmic infant sucking his toe while floating on a banyan leaf during
                the Pralaya (the cosmic dissolution) observed by sage Markandeya. Regional variations in the iconography of Krishna
                are seen in his different forms, such as Jaganatha in Odisha, Vithoba in Maharashtra, Shrinathji in Rajasthan
                and Guruvayoorappan in Kerala.
                
                Guidelines for the preparation of Krishna icons in design and architecture are described in medieval-era Sanskrit texts
                on Hindu temple arts such as Vaikhanasa agama, Vishnu dharmottara, Brihat samhita, and Agni Purana. Similarly,
                early medieval-era Tamil texts also contain guidelines for sculpting Krishna and Rukmini. Several statues made according
                to these guidelines are in the collections of the Government Museum, Chennai.
                
                Krishna iconography forms an important element in the figural sculpture on 17th–19th century terracotta temples of
                Bengal. In many temples, the stories of Krishna are depicted on a long series of narrow panels along the base of the
                facade. In other temples, the important Krishnalila episodes are depicted on large brick panels above the entrance
                arches or on the walls surrounding the entrance
            </p>
            <br>
            <img src="images/baal Krishna.jpg" style="float: right;">
            <p style="font-size: 1.25rem;
    font-weight: 300;">
                In the Krishna Charitas, Krishna is born to Devaki and her husband, Vasudeva, of the Yadava clan in Mathura.
                Devaki's brother is a tyrant named Kamsa. At Devaki's wedding, according to Puranic legends, Kamsa is told by
                fortune tellers that a child of Devaki would kill him. Sometimes, it is depicted as an akashvani announcing Kamsa's
                death. Kamsa arranges to kill all of Devaki's children. When Krishna is born, Vasudeva secretly carries the infant
                Krishna away across the Yamuna, and exchanges him with Yashoda's daughter. When Kamsa tries to kill the newborn, the
                exchanged baby appears as the Hindu goddess Yogamaya, warning him that his death has arrived in his kingdom, and then
                disappears, according to the legends in the Puranas. Krishna grows up with Nanda and his wife, Yashoda, near modern-day
                Mathura. Two of Krishna's siblings also survive, namely Balarama and Subhadra, according to these
                legends. The day of the birth of Krishna is celebrated as Krishna Janmashtami.The legends of Krishna's childhood and youth describe him as a cow-herder, a mischievous boy whose pranks earn him the
                nickname Makhan Chor (butter thief), and a protector who steals the hearts of the people in both Gokul and Vrindavana.
                The texts state, for example, that Krishna lifts the Govardhana hill to protect the inhabitants of Vrindavana from
                devastating rains and floods.
            </p>
            <h2 style="color: darkblue;">Adulthood</h2>
            <p style="font-size: 1.25rem;
    font-weight: 300;">
                Krishna legends then describe his return to Mathura. He overthrows and kills the tyrant king, his maternal uncle
                Kamsa/Kansa after quelling several assassination attempts by Kamsa. He reinstates Kamsa's father, Ugrasena, as the king
                of the Yadavas and becomes a leading prince at the court. In one version of the Krishna story, as narrated by
                Shanta Rao, Krishna after Kamsa's death leads the Yadavas to the newly built city of Dwaraka. Thereafter Pandavas rise.
                Krishna befriends Arjuna and the other Pandava princes of the Kuru kingdom. Krishna plays a key role in the Mahabharata
            </p>
            <img src="images/Krishna Rukmini.jpg" style="float: left;" width="50%">
            <p style="font-size: 1.25rem;
    font-weight: 300;">
                The Bhagavata Purana describes eight wives of Krishna that appear in sequence as Rukmini, Satyabhama, Jambavati,
                Kalindi, Mitravinda, Nagnajiti (also called Satya), Bhadra and Lakshmana (also called Madra). This has been
                interpreted as a metaphor where each of the eight wives signifies a different aspect of him. Vaishnava texts
                mention all Gopis as wives of Krishna, but this is understood as spiritual symbolism of devotional relationship and
                Krishna's complete loving devotion to each and everyone devoted to him.
                
                In Krishna-related Hindu traditions, he is most commonly seen with Radha. All of his wives and his lover Radha are
                considered in the Hindu tradition to be the avatars of the goddess Lakshmi, the consort of Vishnu. Gopis are
                considered as Lakshmi's or Radha's manifestations
            </p>
    </body>
</html>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%- include("partials/footer.ejs") %>