<%- include("partials/header.ejs") %>
<head>
    <style>
        body{
    background: linear-gradient(300deg,
                #03d1f6,
                #b0e6f3,
                #f9e776);
        background-size: 180% 180%;
        animation: gradient-animation 18s ease infinite;
        border-radius: 2rem;
}
    </style>
</head>
<body>
    <h1 style="text-align: center;">Welcome to the Wonderful World of Krishna Consciousness.</h1>
    <hr width="60%" style="margin-left: 300px;">
    <p><h4 style="margin-left: 350px;margin-top: 0px;">Krishna, the Supreme Personality of Godhead, plays His flute in
        Vrindavan</h4></p>
   <img src="images/Krushna.jpg" style="margin-left: 500px;border-radius: 15px;">
   <br>
   <p class="durga">
    <h1 style="text-align: center;">What is Krishna Consciousness ?</h1><hr width="60%" style="margin-left: 300px;">
    <p style="font-size: 1.25rem;
    font-weight: 300;">Krishna consciousness is the orignal natural energy of every single living being. Each and every one of us is part and
    parcel of Krishna or God, He has got many expansions. There are His personal expansiona and His separated expansions.
    The personal expansion are the many different incarnations of God, and the separated expansions are the many living
    beings such as ourselves. Being part and parcel of Him each of us naturally has a very intimate relationship with Him.
    But somehow or other since time immemorail we have forgotten about our relationships with Him and are thus suffering
    like anything here in this material world in the cycle of repeated birth and death. The factual purpose of our human
    form of life is to revive our dormant Krishna consciousness and thus qualify ourselves to regain our original positions
    in the spiritual world where life is eternal, full of knowledge and full of bliss.</p>
    <p style="font-size: 1.25rem;
    font-weight: 300;">
        Krishna consciousness has flourished for many thousands of years in India, and now by the valient efforts of His Divine
        Grace A.C. Bhaktivedanta Swami Prabhupada and his dedicated followers the Krishna consciousness movement is flourishing
        all over the world in the form of ISKCON, the International Society for Krishna Consciousnes, with millions of followers
        and hundreds of centers all over the world.yi
    </p>
   </p>
</body>


<%- include("partials/footer.ejs") %>