<%- include("partials/header.ejs") %>
<html>
    <head>
        <link rel="stylesheet" href="styles/Radha.css">
    </head>
    <body>
        <h2 style="color: darkblue;">Devi Radha Rani</h2>
        <div>
            <p style="font-size: 1.25rem;
    font-weight: 300;">
                Radha (Sanskrit: राधा, IAST: Rādhā), also called Radhika, is a Hindu goddess and the chief consort of the god Krishna. She is the goddess of love, tenderness, compassion and devotion. In scriptures, Radha is mentioned as the avatar of Lakshmi and also as the Mūlaprakriti, the Supreme goddess, who is the feminine counterpart and internal potency (hladini shakti) of Krishna. Radha accompanies Krishna in all his incarnations. Radha's birthday is celebrated every year on the occasion of Radhashtami
            </p>
            <p style="font-size: 1.25rem;
    font-weight: 300;">
                In relation with Krishna, Radha has dual representation—the lover consort as well as his married consort. Traditions like Nimbarka Sampradaya worship Radha as the eternal consort and wedded wife of Krishna.In contrast, traditions like Gaudiya Vaishnavism revere her as Krishna's lover and the divine consort.
            </p>
        </div>
<p style="font-size: 1.25rem;
    font-weight: 300;">
In Radha Vallabh Sampradaya and Haridasi Sampradaya, only Radha is worshipped as the Supreme being. Elsewhere, she is venerated with Krishna as his principal consort in Nimbarka Sampradaya, Pushtimarg, Mahanam Sampradaya, Swaminarayan Sampradaya, Vaishnava-Sahajiya, Manipuri Vaishnavism, and Gaudiya Vaishnavism movements linked to Chaitanya Mahaprabhu.
</p>
<p style="font-size: 1.25rem;
    font-weight: 300;">
    Radha is described as the chief of Braj Gopis (milkmaids of Braj) and queen of Goloka and Braj including Vrindavan and Barsana. She has inspired numerous literary works, and her Raslila dance with Krishna has inspired many types of performance arts.
</p>
<br>
<hr>
<img src="images/Radharani.jpg" style="float: right;">
<p style="font-size: 1.25rem;
    font-weight: 300;">
    The Sanskrit term Rādhā (Sanskrit: राधा) means "prosperity, success, perfection and wealth".It is a common word and name found in various contexts in the ancient and medieval texts of India. The word appears in the Vedic literature as well as the Hindu epics, but is elusive. The name also appears for a figure in the epic Mahabharata. Rādhikā refers to an endearing form of Radha.

In chapter 15th, Goloka khanda of Garga Samhita, Sage Garga elaborates the complete meaning of Radha. In Radha, 'R' signifies Rama, goddess Lakshmi, 'a' means Gopis, "dh" signifies dhara, goddess Bhudevi and last 'a' symbolises River Virājā (also called Yamuna).

The fifth chapter, Fifth night of Narada Pancharatra mentioned 1008 names of Radha under the title Shri Radha Saharsnama Strotam. The 68th chapter, Tritiya paad of Narada Purana also enlisted 500 names of Radha.[38] Some of the common names and epithets are:
<ul style="font-size: 1.25rem;
    font-weight: 300;" class="unl">
    <li>Sri, Shreeji, Shriji - Goddess of radiance, splendor and wealth; Lakshmi</li>
    <li>Madhavi - Feminine counterpart of Madhava</li>
    <li>Keshavi - Beloved of Keshava</li>
    <li>Aparajita - She who is unconquerable</li>
    <li>Kishori - Youthful</li>
    <li>Nitya - She is eternal</li>
    <li>Nitya-gehinī - Krishna's eternal wife</li>
    <li>Gopi - Cowherd girl</li>
    <li>Shyama - Beloved of Shyam Sundar</li>
    <li>Raseshvari and Rasa-priya - Queen of Raslila and she who is fond of rasa dance</li>
    <li>Vrindavaneshvari - Queen of Vrindavan</li>
</ul>
</p>

<div class="bd-example m-1 border-1"></div>
<div class="card" style="width: 20rem; float: left;">
  <img src="images/RadhaDasyam.jpg" width="100%" height="200" style="float: right;border-radius: 10px;">
  <div class="card-body" style="border-radius: 10px;">
    <p class="card-text">Radha depicted as Supreme goddess while gopis humbly stands in front of her.</p>
  </div>
</div>
  </div>
  <h2 style="color: darkblue;"><a href="https://en.wikipedia.org/wiki/Brahma_Vaivarta_Purana">Brahma Vaivartha Purana</a></h2>
  <p style="font-size: 1.25rem;
    font-weight: 300;">
    In Brahma Vaivarta Purana, Radha (or Rādhikā), who is inseparable from Krishna, appears as the main goddess.[121] She is mentioned as the personification of the Mūlaprakriti, the "Root nature", that original seed from which all material forms evolved. In the company of the Purusha ("Man", "Spirit", "Universal soul") Krishna, she is said to inhabit the Goloka, which is a world of cows and cowherds far above the Vishnu's Vaikuntha. In this divine world, Krishna and Radha relate to one another in the way body relates to the soul.
  </p>
  <p style="font-size: 1.25rem;
    font-weight: 300;">
    According to Krishnaism, Radha is the chief female deity and is associated with Krishna's maya (material energy) and prakriti (feminine energy). At highest level Goloka, Radha is said to be united with Krishna and abiding with him in the same body. The relationship between Radha Krishna is that of substance and attribute: they are as inseparable as Milk and its whiteness or Earth and its smell. This level of Radha's identity transcends her material nature as prakriti and exits in the form of pure consciousness (Narada Purana, Uttara Khana - 59.8). While Radha is identical to Krishna at this highest level, this merger of identities seems to end when she separates from him. After separation she manifest herself as the goddess Primordial prakriti (Mūlaprakriti) who is called the "Maker of Universe" or "Mother of All" (Narada Purana, Purva-Khanda, 83.10-11, 83.44, 82.214)
    In the hymnal Hita-Caurasi of Hith Harivansh Mahaprabhu, the 16th-century bhakti poet-saint, founder of Radha Vallabh Sampradaya, Radharani is exalted to the status of the only ultimate deity, while her consort Krishna is just her most intimate subordinate. As a precursor to this view can be understand Jayadeva, in whose Gita Govinda (10.9) Krishna is beneath Radha.

Radha is also considered as the personification of Krishna's love. According to doctrines attributed to Vaishnavite saint Chaitanya Mahaprabhu, It is said that, Krishna has three powers: the internal which is intelligence, the external which generates appearances and the differentiated which forms the individual soul. His chief power is that which creates dilatation of the heart or joy. This appears to be the power of love. When this love becomes settled in the heart of the devotee, it constitutes Mahabhava, or the best feeling. When love attains to the highest pitch, it constitutes itself into Radha, who is the most lovable of all and full of all qualities. She was the object of the highest love of Krishna and being idealized as love, some of the agreeable feelings of the heart are considered her ornaments.

In Narada Pancharatra Samhita, Radha is mentioned as the feminine form of Krishna. It is described that, the one single lord is represented to have become two - one a woman and the other a man. Krishna retained his form of man while the female form became Radha. Radha is said to have come out from primordial body of Krishna, forming his left side, and is eternally associated with him in his amorous sports in this world as well as the world of cows (Goloka).
</p>
    </body>
</html>
<%- include("partials/footer.ejs") %>