<%- include("partials/header.ejs") %>
<h1>Radha Krishna</h1>
<style>
    body{
    background: linear-gradient(300deg,
                #03d1f6,
                #b0e6f3,
                #f9e776);
        background-size: 180% 180%;
        animation: gradient-animation 18s ease infinite;
        border-radius: 2rem;
}
</style>
<a href="https://www.mayapur.com/tag/gopis/"><img src="images/RKG.jpg" width="100%" height="75%"></a>
<p style="font-size: 1.25rem;
    font-weight: 300;">Radha-Krishna (IAST rādhā-kṛṣṇa, Sanskrit: राधा कृष्ण) is the combined form of the Hindu god Krishna with his chief consort and shakti Radha. They are regarded as the feminine as well as the masculine realities of God,[7] in several Krishnaite traditions of Vaishnavism.[8][9][10]

In Krishnaism, Krishna is referred to as Svayam Bhagavan [11] and Radha is illustrated as the primeval potency of the three main potencies of God, Hladini (immense spiritual bliss), Sandhini (eternality), and Samvit (existential consciousness), of which Radha is an embodiment of the feeling of love towards Krishna (Hladini).[12][13]

With Krishna, Radha is acknowledged as the Supreme Goddess.[14] Krishna is said to be satiated only by devotional service in loving servitude, personified by Radha. Various devotees worship her to attain Krishna via her. Radha is also depicted to be Krishna himself, split into two for the purpose of his enjoyment.[15] As per scriptures, Radha is considered as the complete incarnation of Mahalakshmi.[16][17]

It is believed that Krishna enchants the world, but Radha enchants even him. Therefore, she is the supreme goddess of all, and together they are called Radha-Krishna.[18] In many Vaishnava sections, Radha Krishna are often identified as the avatars of Lakshmi Narayana.[19]
</p>
<br>
<h2>Names and Epithets</h2>
<hr>
<p style="font-size: 1.25rem;
    font-weight: 300;">
  Radha Krishna can be broken into two: Krishna (Devanagari: कृष्ण), the incarnation of Vishnu, which means, "all attractive" or "dark blue",[20] and his shakti Radha (Devanagari: राधा), the incarnation of Lakshmi, which means "the pleasing one".[21]

Many significant epithets accorded to Krishna including - Radha Ramana and Radha Vallabh, which means "the lover and the beloved of Radha" are directly derived from the name of his consort, Radha.[22] Similarly, epithets of Radha including - Krishna Kanta, which means "the consort of Krishna" and Krishna Vallabha, which means "the eternal companion of Krishna", are directly associated with the name of Krishna.[23]
</p>
<br>
<h2>Leacture</h2>
<hr>
<p style="font-size: 1.25rem;
    font-weight: 300;">
Radha Krishna's first literary mention was found in King Hala's Prakrit text <a href="https://en.wikipedia.org/wiki/Gaha_Sattasai">Gatha Saptasati</a> which is composed of 700 verses and was written in the 1st century CE. Later, the popular <a href="https://en.wikipedia.org/wiki/Gita_Govinda">Gita Govinda</a> written by <a href="https://en.wikipedia.org/wiki/Jayadeva">Jayadeva</a> in 12th century CE widely depicted Radha and Krishna as a couple.

According to scriptures like <a hreh="https://en.wikipedia.org/wiki/Brahma_Vaivarta_Purana">Brahma Vaivarta Purana</a> and <a href="https://en.wikipedia.org/wiki/Garga_Samhita_(Vaishnavite_text)">Garga Samhita</a>, Radha-Krishna are the supreme deities. Content of both the scriptures are majorly based on the divine pastimes of Radha Krishna in Vrindavan and Goloka. The other relevant texts mentioning Radha Krishna are the Radhopnishad,[30] Radhika Tapani Upanishad,[31] Gopala Tapani Upanishad,[32] Shiva Purana, Brahmanda Purana, Skanda Purana, Padma Purana, Matsya Purana, Devi-Bhagavata Purana, Narad Purana, Narada Pancharatra, Radha Tantra, Brahma Samhita and Chaitanya Charitamrita.[33][34][35] Radha is also indirectly mentioned in Bhagavata Purana along with Krishna under many different names like "Aradhika" and "Gopi".[36] Adi Shankracharya also mentioned Radha under the name of Radhika in his work called "Achyuta Ashtakam" which is dedicated to the Achyuta form of Krishna.[37][38]

The devotional works of Jayadeva, Nimbarkacharya, Rasik saints like Chaitanya Mahaprabhu along with his six disciple goswamis, Bhakti poet-saints Narsinh Mehta, Vidyapati, Chandidas, Meera Bai, Surdas and Swami Haridas played pivotal role in spreading devotion to the divine couple.[39]

According to several Hindu denominations including Gaudiya Vaishnavism, Nimbarka Sampradaya, Pushtimarg, and Swaminarayan Sampradaya, it is believed that Radha is not just one cowherd maiden, but the origin of all the Ashtasakhi, Gopis, or divine personalities that participate in the rasa dance.[40]
</p>
<br>
<hr>
<h2>Bhagavata</h2>
<img src="images/Radhe-Krishna.jpg" width="300" height="500" style="float: right;">
<p style="font-size: 1.25rem;
    font-weight: 300;">
In Vedic and Puranic literature, Radha and other forms of the root word Radh have meaning of ‘perfection’, ‘success’ and even ‘wealth’. Lord of Success, Indra was referred to as Radhaspati. In references to Mahavishnu as the Lord of Fortune and freely used by Jayadeva as Jaya Jayadeva Hare – the victorious Hari, and ‘Radhaspati’ all found in many places. The word Radha occurs in the Atharva Veda, Taittiriya Brahmana and Taittiriya Samhita.[51]

Charlotte Vaudeville, in the article Evolution of Love Symbolism in Bhagavatism draws some parallel to Nappinnai, appearing in Godha's magnum opus Thiruppavai and in Nammalwar's references to Nappinnani, the daughter-in-law of Nandagopa. Nappinnai is believed to be the source of Radha's conception in Prakrit and Sanskrit literature although their characteristic relations with Krishna are different. In the ritual dance called Kuravai, Krishna dances with his wife Nappinnai. "It is a complex relationship, for the devotee is the ‘same as and yet different from’ the Lord, and so even in the joy of union there is the pain of separation. Indeed, the highest form of devotion, according to Yamunacarya, comes not in union but after the union, in the ‘fear of new separation’."[52]

Yasastilaka Champukavya (959 CE) and Gaha Sattasai make references to Radha and Krishna well before Jayadeva's period.[33] There are elaborate references of Radha and Krishna in Brahma Vaivarta Purana, Garga Samhita and Padma Purana.

Radha-Krishna Dev has a special place in the Swaminarayan Sampradaya as Swaminarayan himself referred to Radha Krishna in the Shikshapatri he wrote.[77] Further, he himself ordered the construction of temples in which Radha Krishna have been installed as deities. Swaminarayan "explained that Krishna appears in many forms. When he is together with Radha, he is regarded as supreme lord under the name of Radha-Krishna; with Rukmini he is known as Lakshmi-Narayana."[78] The first temple constructed in the sect, built in Ahmedabad in 1822, houses the images of Nara Narayana, forms of Arjuna and Krishna, in the central shrine. The shrine on the left of the hall has murtis of Radha Krishna.[79] According to the philosophy of the tradition there were many female companions of Krishna, gopis, but out of all of them Radha was considered to be the perfect devotee. Those who wish to come close to Krishna must cultivate the devotional qualities of Radha.[80] According to theory the sect has set aside Goloka as the supreme heaven or abode (in fact, in some of their temples, such as the Mumbai Temple, the murtis installed are those of Shri Gaulokvihari and Radhikaji), because there Krishna is supposed to be enjoying himself with his Gopis,[81] who according to the Swaminarayana sampradaya the milkmaids with whom Krishna danced; his relations with them symbolize the relation of God with the devotee in reciprocation.

</p>
<%- include("partials/footer.ejs") %>