<%- include("partials/header.ejs") %>
<head>
    <style>
        body{
    background: linear-gradient(300deg,
                #03d1f6,
                #b0e6f3,
                #f9e776);
        background-size: 180% 180%;
        animation: gradient-animation 18s ease infinite;
        border-radius: 2rem;
}
    </style>
</head>
<h1 style="color: darkblue;">A. C. Bhaktivedanta Swami Prabhupada</h1>
<img src="images/srila-prabhupada.png" width="100%" height="70%">
<p style="font-size: 1.25rem;
    font-weight: 300;">
    A. C. Bhaktivedanta Swami Prabhupada IAST: Abhaya Caraṇāravinda Bhaktivedānta Svāmī Prabhupāda;(1 September 1896 – 14 November 1977) was a spiritual, philosophical, and religious teacher from India who spread the Hare Krishna mantra and the teachings of "Krishna consciousness" to the world. Born as Abhay Charan De and later legally named Abhay Charanaravinda Bhaktivedanta Swami, he is often referred to as "Bhaktivedanta Swami", "Srila Prabhupada", or simply "Prabhupada"
</p>
<p style="font-size: 1.25rem;
    font-weight: 300;">
    To carry out an order received in his youth from his spiritual teacher to spread "Krishna consciousness" in English, in his old age, at 69, he journeyed in 1965 from Kolkata to New York City on a cargo ship, taking with him little more than a few trunks of books. He knew no one in America, but he chanted Hare Krishna in a park in New York City, gave classes, and in 1966, with the help of some early students, established the International Society for Krishna Consciousness (ISKCON), which now has centers throughout the world.
</p>
<p style="font-size: 1.25rem;
    font-weight: 300;">
    He taught a path in which one aims at realizing oneself to be an eternal spiritual being, distinct from one's temporary material body, and seeks to revive one's dormant relationship with the supreme living being, known by the Sanskrit name Krishna. One does this through various practices, especially through hearing about Krishna from standard texts, chanting mantras consisting of names of Krishna, and adopting a life of devotional service to Krishna. As part of these practices, Prabhupada required that his initiated students strictly refrain from non-vegetarian food (such as meat, fish, or eggs), gambling, intoxicants (including coffee, tea, or cigarettes), and extramarital sex. In contrast to earlier Indian teachers who promoted the idea of an impersonal ultimate truth in the West, he taught that the Absolute is ultimately personal.
</p>
<p style="font-size: 1.25rem;
    font-weight: 300;">
    He held the duty of a guru was to convey intact the message of Krishna as found in core spiritual texts such as the Bhagavad Gita. To this end, he wrote and published a translation and commentary called Bhagavad-Gītā As It Is. He also wrote and published translations and commentaries for texts celebrated in India but hardly known elsewhere, such as the Srimad-Bhagavatam (Bhagavata Purana) and the Chaitanya Charitamrita, thereby making those texts accessible in English for the first time. In all, he wrote more than eighty books.
</p>
<p style="font-size: 1.25rem;
    font-weight: 300;">
    In the late 1970s and the 1980s ISKCON came to be labeled a destructive cult by critics in America and some European countries. Although scholars and courts rejected claims of cultic brainwashing and recognized ISKCON as representing an authentic branch of Hinduism, in some places the "cult" label and image have persisted. Some of Prabhupada's views or statements have been perceived as racist towards blacks, discriminatory against lower castes, or misogynistic.[4][5][6] Decades after his death, Prabhupada's teachings and the Society he established continue to be influential,[7] with some scholars and Indian political leaders calling him one of the most successful propagators of Hinduism abroad.
</p>
<h2 style="color: darkblue;">Early life</h2>
<p style="font-size: 1.25rem;
    font-weight: 300;">
    Abhay Charan De was born in Calcutta (now Kolkata), India, on 1 September 1896, the day after Janmashtami (the birth
    anniversary of Krishna). His parents, Gour Mohan De and Rajani De, named him Abhay Charan, meaning "one who is
    fearless, having taken shelter of Lord Krishna's lotus feet". Following Indian tradition, Abhay's father invited an
    astrologer, who predicted that at the age of seventy, Abhay would cross the ocean, become a famous religious
    teacher, and open 108 temples around the world.
    Abhay was raised in a religious family belonging to the suvarna-vanik mercantile community. His parents were Gaudiya
    Vaishnavas, or followers of Chaitanya Mahaprabhu, who taught that Krishna is the Supreme Personality and that pure love
    for Krishna is the highest attainment.
    
    Gour Mohan was a middle-income merchant and had his own fabric and clothing store. He was related to the rich and
    aristocratic Mullik mercantile family, who had been trading in gold and salt for centuries.
</p>
<h2 style="color: darkblue;">Middle life</h2>
<img src="images/srila.jpg" style="float: right;">
<p style="font-size: 1.25rem;
    font-weight: 300;">
In 1922, while still in college, Abhay was persuaded by a friend, Narendranath Mullik, to meet with Bhaktisiddhanta
Sarasvati (1874–1937), a Vaishnava scholar and teacher and the founder of the Gaudiya Math, a spiritual institution for
spreading the teachings of Chaitanya Mahaprabhu. The word math denotes a monastic or missionary center.
Bhaktisiddhanta was continuing the work of his father, Bhaktivinoda Thakur (1838–1914), who regarded Chaitanya's
teachings as the highest form of theism, intended not for any one religion or nation but for all of humanity.

When the meeting took place, Bhaktisiddhanta said to Abhay, "You are an educated young man. Why don't you take the
message of Chaitanya Mahaprabhu and spread it in English?" However, Abhay, according to his own later
account, argued that India first needed to become independent before anyone would take Chaitanya's message seriously, an
argument that Bhaktisiddhanta Sarasvati effectively countered. Convinced by Bhaktisiddhanta Sarasvati, Abhay
accepted the instruction to spread the message of Chaitanya in English, and it was in pursuing this order from
Bhaktisiddhanta Sarasvati that he later traveled to New York. Many years later he recalled: "I immediately accepted
him as spiritual master. Not formally, but in my heart".
After meeting Bhaktisiddhanta Sarasvati in 1922, Abhay had little contact with the Gaudiya Math until 1928, when
sannyasis (renounced, itinerant preachers) from the Math came to open a center in Allahabad, where Abhay and his family
were living. Abhay became a regular visitor, contributed funds, and brought important people to the lectures of the
Math's sannyasis. In 1932, he visited Bhaktisiddhanta in the holy town of Vrindavan, and in 1933, when Bhaktisiddhanta
came to Allahabad to lay the cornerstone for a new temple, Abhay received diksha (spiritual initiation) from him and was
given the name Abhay Charanaravinda.

Over the next three years, whenever Abhay was able to visit Bhaktisiddhanta Sarasvati in Calcutta or Vrindavan,
Abhay would carefully listen to his spiritual master. In 1935, Abhay moved for business reasons to Bombay and
then in 1937 back to Calcutta. In both places he assisted other members of the Gaudiya Math by donating money,
leading kirtans, lecturing, writing, and bringing others to the Math. At the end of 1936, he visited Vrindavan, where he
again met Bhaktisiddhanta, who told him, "If you ever get money, print books", an instruction that would inform his
life's work.

Two weeks before his death on 1 January 1937, Bhaktisiddhanta Sarasvati wrote a letter to Abhay urging him to teach
Gaudiya Vaishnavism in English. After Bhaktisiddhanta passed away, the unified mission of the Gaudiya
Math broke down as a battle for power broke out between his senior disciples. Although Abhay continued to serve
with other disciples of his spiritual master and wrote articles for their publications, he kept clear of the political
struggles.
</p>

<%- include("partials/footer.ejs") %>