<%- include("partials/header.ejs") %>
<body>
    <h1>Hare Krishna</h1>
<link rel="stylesheet" href="styles/temple.css">
    <div class="hero_bg_box">
        <img src="images/iskcon_temple.jpg" alt="ISKCON Temple">
    </div>

    <p style="font-size: 1.25rem;
    font-weight: 300;">Sri Radha Krishna-Chandra Temple (Kannada: ಶ್ರೀ ರಾಧಾ ಕೃಷ್ಣ ಮಂದಿರ) is one of the largest Krishna-Hindu temples in
        the
        world. It is situated in Bangalore in the Indian state of Karnataka. The temple is dedicated to Hindu deities
        Radha
        Krishna and propagates monotheism as mentioned in <a href="https://en.wikipedia.org/wiki/Chandogya_Upanishad">Chandogya Upanishad.</a></p>

    <br>

    <h2>History</h2>
    <p style="font-size: 1.25rem;
    font-weight: 300;">
        In May 1997, Bangalore ISKCON Temple was inaugurated by the ninth president of India, Shankar Dayal Sharma. The
        society was registered in the year 1978 under the Karnataka Societies Registration Act, 1960. The objectives of
        the
        society are derived from the Seven Purposes of ISKCON as stated by Srila Prabhupada.
    </p>
    <br>
    <hr>

    <h2>About Temple</h2>
    <p style="font-size: 1.25rem;
    font-weight: 300;">There is a gold-plated dhwaja-stambha (flag post) 17 m (56 ft) high and a gold-plated kalash shikhara 8.5 m (28
        ft)
        high. There is free distribution of Sri Krishna prasadam to all visitors during the darshana hours.</p>

    <h3>ISKCON Bangalore has six shrines:</h3>
    <ol class="lists" style="font-size: 1.25rem;
    font-weight: 300;">
        <li>Main deities are of Radha-Krishna</li>
        <li>Krishna Balarama</li>
        <li>Nitai Gauranga (Chaitanya Mahaprabhu and Nityananda)</li>
        <li>Srinivasa Govinda (also known as Balaji)</li>
        <li>Prahlada Narasimha</li>
        <li>Srila Prabhupada, the founder of ISKCON</li>
    </ol>
        <h3><b>Daily ceremonies</b></h3>
    <p style="font-size: 1.25rem;
    font-weight: 300;">
        The day begins at 4:30 with a ceremony called mangala-arati followed by worship of Tulasi Devi, Sri Narasimha Arati, and
        Suprabhata Seva for Sri Srinivasa Govinda. Later there is Shringara Darshana Arati, and Japa Meditation session. At
        19:00 arati starts, where devotees sing kirtan. In the main temple, the arati is performed by three priests. This arati
        is followed again by kirtan where devotees can be seen dancing to the rhythm of "Hare Krishna Hare Rama".
    </p>
<p style="font-size: 1.25rem;
    font-weight: 300;">
    <img src="images/Entrance_of_Iskcon_temple.jpg" class="tmpl">
    <h3>ISKCON Vaikuntha Hill</h3>
    <p style="font-size: 1.25rem;
    font-weight: 300;"><b>ISKCON Vaikuntha Hill</b> in Bangalore is the destination for a visit to Lord Venkateshwara’s abode. This stone temple is
    constructed as per traditional Shilpa shastras (designs as mentioned in scriptures) in the Dravidian style of
    architecture. The design and aesthetics, including the seven doors to the sanctum, are inspired by the Sri Venkateshwara
    Swamy temple in Tirumala. The deity of Lord Srinivasa is nearly the same height, and has been named Sri Rajadhiraja
    Govinda, which means He is the King of all kings. This project was conceived and executed by the devotees of ISKCON
    Bangalore, in pursuance of Srila Prabhupada's desire to build a grand temple like Tirumala, on his 125th birth
    anniversary.
    
    About ISKCON Sri Rajadhiraja Govinda temple Sri Rajadhiraja Govinda Temple is surrounded by the shrines of Sri
    Sudarshana Narasimha, Sri Mahalakshmi, Sri Lakshmi Narasimha, Bhakta Hanuman, and Sri Garuda. A separate shrine has been
    constructed for Srila Prabhupada, where his Achala Shila Murti, a black stone deity, is installed. Story of Vaikuntha
    Hill and its connection with Lord Srinivasa Govinda The hill on which the temple resides is related to the divine story
    of a muni, Shri Mandavya muni, who performed very severe penance in a cave on this hill. Lord Srinivasa Govinda,
    pleased, wanted to grant a boon and a blessing to Shri Mandavya Muni, so promised him that after he married Princess
    Padmavathi Devi at Tirumala, he would come to the hill, where he had performed penance, to perform the Leela of vihara
    or honeymoon. This sacred place thus came to be known as Vasanthapura. The name Vasanthapura signifies the place where
    Lord Govinda had arrived for his Vasantha Vihara (spring outing).
    
    The divine opening ceremony The temple was inaugurated in a grand ceremony on 14 June 2022, by Shri Ram Nath Kovind,
    Former President of India. He dedicated ISKCON Sri Rajadhiraja Govinda Temple & Cultural Complex in a grand ceremony of
    Lokarpana on the occasion of the 125th birth anniversary of Bhaktivedanta Swami Prabhupada, Founder-Acharya of ISKCON.
    The opening ceremony was also presided over by the Governor of Karnataka Shri Thawar Chand Gehlot, Chief Minister of
    Karnataka Shri Basavaraj Bommai, Member of the Legislative Assembly Shri M Krishnappa, in the presence of Madhu Pandit
    Dasa, President of ISKCON Rajajinagar, Bangalore.</p>
</p>
</body>
    <%- include("partials/footer") %>